@page
@model employeewebapp.Pages.EmpPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TypeofEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TypeofEmployee)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
